
.tb { border:1px solid #ccc; border-spacing:0; border-collapse:collapse; width:100%; }
.tb th { border:1px solid #ccc; background-color:#eee; }
.tb td { border:1px solid #ccc; }
.tb caption { font-weight:bold; color:darkorange; }
.tb .tbcl { text-align:left; }
.tb .tbcc { text-align:center; }
.tb .tbcr { text-align:right; }
